* {
    background-color: aqua;
}

h2 h3 {
    color: green;
}


/*Give everything a border and padding*/

.main-content {
    border: solid;
    padding: 10px;
}

#Career {
    background-color: black;
    color: white;
}


/*Use the `:hover` so that when I hover over an element, its styling changes.*/

#Career:hover {
    background-color: plum;
    color: red;
}

a:visited {
    color: red;
}